
.header-wraper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	background-color: #fff;
	width:100%;
}
.body {
	padding-top: 150px;
}
 

.header-block{
	/* max-width: 1366px; */
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	padding-top: 40px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	background-color:white;
	width:100%;
	padding-bottom: 20px;
}

.geolab{
position: absolute;
top:20px;
left:10px;

}
.landings {
	
	position: absolute;
	top: 30px;
	left: 70px;
	font: normal normal bold 17px/20px Dancing Script;
	letter-spacing: 0px;
	color:goldenrod;
	opacity: 1;
    font-size: 30px;

}
.nav-ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
     font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
li {margin-right: 20px;	
}

.nav-a{	
	font: normal normal medium 12px/16px Poppins ;
	letter-spacing: 2.4px;
	color:black;
	opacity: 1;
}
 .navigation {
	max-width: 1366px;
	width: 100%;
	margin-left: 600px;
	display: flex;
	
	
}
 .fa-bars {
    color: white;
    font-size: 30px;
}
.burger-icon {
    display: none;
    color: black;
	margin-right: 20px;
}

.banner{
	width:100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
    opacity: 1;
    margin-top: 25px;
	
}

.mybanner{
	width:100%;
	height: 450px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
    opacity: 1;
    margin-top: 25px;

	

}
	

.header-bg{

	width:100%;
	height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
    opacity: 1;
    margin-top: 25px;
}

.title-header {
	font-size: 100px;
	color:whitesmoke;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
			font-family: 'Montserrat';
}

.p1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
	margin-left: 60px;

}
.paragraph{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color:black;
}

.chat-wraper{
	position: fixed;
	display: block;
	right:30px;
	bottom: 30px;
}

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}
.imabed{
	
	max-width: 500px;
    width: 100%;
    height: 400px;
    margin-left: 200px;
    margin-top: 40px;

}


.imgbedh1{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.imabedp1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 400px;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
    color: grey;
    word-spacing: 5px;
    letter-spacing: 2px;
}


.details{
    margin-left:300px ;
    color: black;
}
.container{
	max-width: 100%;
	background-color: gainsboro;
	width: 100%;
	margin:0 auto;
}

.nav{
	display: inline-block;
	margin-bottom: 50px;
	margin-top: 30px;
	margin-left: 50px;
}
.name{
	font-size: 20px;
	font-style: bold;
    margin-top: 10px;
    margin-left: 10px;
}
.ul{
	display: inline-block;
	
	margin-left: 100px;
	vertical-align: top;
}

.list{
	margin-left: 10px;
	margin-top: 10px;
	opacity:0.5;
}
.nav-b{
	color:black;
}

.footer{
	font-size: 10px;
	opacity:0.5;
	margin-left:  900px;
	margin-bottom:50px;
}


.header-am{

	width:100%;
	height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
    opacity: 1;
    margin-top: 25px;
}




.p2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 120px;
	margin-left: 60px;

}
.paragraph2{
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    color:rgb(46, 43, 43);
}

.container{
	max-width: 1366px;
	width: 100%;
	margin:0 auto;
}

.line1{

	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
        margin-top: 40px;
}
.box1{
	
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
	width: 251px;
	height: 263px;
	opacity: 1;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	
}


.icon-box{ 
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;


	top: 1837px;
	left: 198px;
	max-width: 88px;
	width: 100%;
	height: 88px;
	background: 0% 0% no-repeat padding-box;
	opacity: 1;

}
.fa-car{
	font-size: 25px;
	color:lightseagreen;
	}


	.headertext{
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: center;
		font: normal normal normal 18px/24px Lato;
		letter-spacing: 0.45px;
		color: #000000;
		opacity: 0.8;
		font-weight: bold;
	}

	.text{
		max-width: 250px;
		width: 100%;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
		font: normal normal 300 16px/25px Poppins;
		letter-spacing: 0.16px;
		color: #000000;
		opacity: 0.65;
	}

	.fa-arrow-up{
		font-size: 25px;
		color:lightseagreen;
		}

		.fa-person-booth{
			color:lightseagreen;
		font-size: 25px;
		}

		.fa-square{
			color:lightseagreen;
		font-size: 25px;
		}

		.fa-globe{
			font-size: 25px;
			color:lightseagreen;
			}

			.fa-wifi{
				font-size: 25px;
				color:lightseagreen;
				}

				.header-rm{
					width:100%;
					height: 400px;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					position: relative;
					opacity: 1;
					margin-top: 25px;
				}


				.header-g{
			
					max-width: 100%;
					width:100%;
					height: 350px;
					background-size: cover;
					background-color: gray;
					background-position: center;
					background-repeat: no-repeat;
					position: relative;
					opacity: 1;
					margin-top: 25px;
				}

				.title-headerrm {
					max-width: 100%;
					font-size: 100px;
					color:rgb(124, 100, 100);
					background-color: gray;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform:translate(-50%,-50%);
						-ms-transform:translate(-50%,-50%);
							transform:translate(-50%,-50%);
				}

				.rightblock{
					padding-top: 10px;
					max-width: 533px;
				  
				  }

				  .Photos {
					margin-top: 450px;
				  }

				  

				  .text3 {
					color: #5863f8;
					font-size: 40px;
				  }
				  
				  .text4 {
					max-width: 475px;
					font-size: 20px;
					color: gray;
				  }


				  .images {
					margin-top: 54px;
					display: flex;
					justify-content: space-between;
				  }

				  .Photos2 {
					margin-top: 50px;
				  }


				  .breakfast{
					margin-top: 50px;
                    display: flex;
                    justify-content: center;
                    margin-top: 50px;
	                margin-left: 60px;

					font-size: 30px;
					font-family: 'Lato', sans-serif;
					color:black;
					
				  }



				

				  .text5 {
					color:  rgb(33, 32, 32);
					font-size: 70px;
				  }
				  
				  .text6{
					max-width: 475px;
					margin-left: 30px;
					font-size: 20px;
					color: rgb(33, 32, 32);
					
				  }



				  .header-wraper{
					max-width: 100%;
					margin: 0 auto;
				  }
				  
			

				  .s-1 {
					padding-top: 50px;
					scroll-margin-top: 5px;
					margin-top: 5px;
				}
				.container3 {
					max-width: 100%;
					width: 80%;
					height:350px;
					margin: 0 auto;
						}
				
				
				.info-box > h2 {
					font-size: 14px;
					font-weight: bold;
					color: #5863f8;
					margin-bottom: 18px;
				}
				
				.info-box > h3 {
					font-size: 42px;
					width: 290px;
					margin-bottom: 50px;
				}
				
				.form-wrapper {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: flex-start;
				}
				.textarea-wrapper {
					max-width: 700px;
					width: 100%;
					margin-right: 20px;
				}
				
				textarea {
					width: 100%;
					height: 290px;
					resize: none;
					background-color: #f8f8f8;
					border: 2px solid lightgrey;
					padding: 24px 20px;
					outline: none;
				}
				
				textarea::placeholder {
					font-size: 13px;
					color: lightgrey;
				}
				
				.input-wrapper {
					height: 290px;
				
					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}
				
				input[type="text"],
				input[type="email"],
				input[type="submit"] {
					width: 350px;
					height: 60px;
					border: 2px solid lightgrey;
					padding: 23px 20px;
					outline: none;
				}
				
				input[type="text"]::placeholder,
				input[type="email"]::placeholder,
				input[type="submit"]::placeholder {
					font-size: 13px;
					color: lightgrey;
				}
				
				input[type="submit"] {
					background-color: #5863f8;
					color: white;
					font-size: 14px;
				}

				.nav{
					
					display: flex;
					 font-family: 'Lato', sans-serif;
					 margin-top: 50px;
					font-size: 15px;
					font-weight: bold;
				}

				.mybanner2{
					width:100%;
	             height: 200px;
	             background-position: center;
	             background-repeat: no-repeat;
	             position: relative;
  
				}


				/*FOOTER*/
.footer1{
	background: #f0c513;
	padding: 10px 0;
}
.social2{
	text-align: center;
}
.social-li2{
	display: inline-block;
	margin-right:10px;
}
.social-icon2{
	border: solid #000000 1px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50px;
    padding-top: 10px;
    color: #f0c513;
    background: black;
    -webkit-transition:  all .2s linear .2s;
    -o-transition:  all .2s linear .2s;
    transition:  all .2s linear .2s;       
}
.social-icon:hover2{
	background-color: #F9C402;
	color:black;
}


.geirgia{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-left: 60px;
background-color: rgb(247, 242, 242);
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	color:black;
  }

	.imagesList{
		display: flex;
		justify-items: end;
		

	}	
	
	
	.logo4{
		position: absolute;
        top:20px;
        left:80pxpx;
	}




